@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'reset';
@import 'fonts';
@import 'swiper';

// css variables
$white: #fff;
$black: #000;

:root {
  --background: #ffffff;
  --foreground: #171717;

  --primary: #246beb;
  --secondary: #00ff00;

  --gray-5: #f7f7f7;
  --gray-10: #f0f0f0;
  --gray-20: #e0e0e0;
  --gray-30: #d0d0d0;
  --gray-40: #c0c0c0;
  --gray-50: #b0b0b0;
  --gray-60: #a0a0a0;
  --gray-70: #909090;
  --gray-80: #808080;
  --gray-90: #707070;

  --hdHeight: 80px;

  --paddingMobile: 20px;
  --paddingTablet: 30px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 var(--paddingMobile);
}
@media (min-width: 768px) {
  .container {
    padding: 0 var(--paddingTablet);
  }
}

// [data-rsbs-backdrop] {
//   background-color: transparent !important; /* 배경 투명화 */
//   z-index: -1;
//   //pointer-events: none; /* 클릭 이벤트 제거 */
// }

[data-rsbs-header='true'] {
  padding: 20px 0 !important;
  box-shadow: none !important;
}

[data-rsbs-scroll='true'] {
  padding-bottom: 76px;
}

// div[data-rsbs-overlay='true'] {
//   width: 390px;
//   bottom: 0;
//   left: 50%;
//   transform: translateX(-50%);
//   //left: 50%; /* 화면의 왼쪽에서 50% */
//   //transform: translateX(-50%); /* 자신의 너비의 50%만큼 왼쪽으로 이동 */
// }

// [data-rsbs-overlay],
// [data-rsbs-backdrop],
// [data-rsbs-root]:after {
//   width: 390px;
//   margin: 0 auto;
// }

// [data-rsbs-overlay='true'] {
//   width: 390px !important;
//   left: 50% !important;
//   right: auto !important;
//   transform: translateX(-50%) !important;
// }

// [data-rsbs-root='true'] {
//   max-width: 390px;
//   margin: 0 auto;
// }

// [data-rsbs-overlay='true'] {
//   width: 100%;
//   max-width: 390px;
//   left: 50%;
//   transform: translateX(-50%);
// }

// [data-rsbs-root='true'],
// [data-rsbs-backdrop='true'] {
//   max-width: 390px;
//   margin: 0 auto;
// }

// [data-rsbs-overlay='true'] {
//   width: 100%;
//   max-width: 390px;
// }

/* globals.css 또는 관련 스타일 파일 */
// [data-rsbs-overlay='true'] {
//   width: 390px !important;
//   left: 50% !important;
//   transform: translateX(-50%) !important;
//   right: auto !important;
// }

// [data-rsbs-backdrop='true'] {
//   width: 390px !important;
//   left: 50% !important;
//   transform: translateX(-50%) !important;
// }

// [data-rsbs-root='true'] {
//   width: 390px !important;
//   margin: 0 auto !important;
// }
::-webkit-scrollbar {
  display: none; /* Chrome, Safari용 */
}

[data-rsbs-overlay='true'] {
  max-width: 390px !important;
  margin: 0 auto !important;
}
