@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: #ffffff;
  --black: #000000;
  --font-color-base: #1d1d1d;

  --background: var(--white);
  --foreground: var(--font-color-base);
  --primary: #246beb;
  --secondary: #00ff00;

  --font-family-base: 'Pretendard', sans-serif;
  --font-size-base: 16px;
  --font-weight-base: 400;
  --line-height-base: 1.5;
  --line-height-none: 1;

  --hdHeight: 80px;
  --paddingMobile: 20px;
  --paddingTablet: 30px;
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  color: var(--foreground);
  background: var(--background);
}

html,
body {
  width: 100%;
  margin: 0 auto;
  overflow-x: hidden;
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  font-family: var(--font-family-base);
  font-weight: var(--font-weight-base);
}

.container {
  max-width: 390px;
  margin: 0 auto;
  padding: 0 var(--paddingMobile);
}

header {
  width: 100%;
  max-width: 390px;
  margin: 0 auto;
}

// @media (min-width: 768px) {
//   .container {
//     max-width: 1280px;
//     padding: 0 var(--paddingTablet);
//   }
// }

a {
  color: var(--foreground);
  text-decoration: none;

  &:hover,
  &:active {
    text-decoration: none !important;
  }
}

.one-line-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.two-line-ellipsis {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: keep-all;
  overflow-wrap: break-word;
  letter-spacing: -0.02em;
}

::-webkit-scrollbar {
  display: none;
}

/* Bottom Sheet 스타일 */
[data-rsbs-header='true'] {
  padding: 20px 0 !important;
  box-shadow: none !important;
}

[data-rsbs-scroll='true'] {
  padding-bottom: 76px;
}

[data-rsbs-overlay='true'] {
  max-width: 390px !important;
  margin: 0 auto !important;
}

@import 'fonts';
@import 'reset';
@import 'swiper';
